<!DOCTYPE html>
<html>
<head>
  <title>Guess Me Game</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet" />
  <script src="game.js"></script>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
  <div id="container">
    <h1>Guess Me Game</h1>
    <div id="instruction">
      <h3>Guess the word by selecting the correct letters.</h3>
      <p>You have <span id="life">5</span> chances left.</p>
      <p id="catagory"></p>
      <p id="blanks"></p>
      <p id="result"></p>
    </div>
    <div class="col-sm-4 text-center" id="alphabets">
                <button type="button" id="a" class="btn btn-outline-primary clickable">a</button>
                <button type="button" id="b" class="btn btn-outline-primary clickable">b</button>
                <button type="button" id="c" class="btn btn-outline-primary clickable">c</button>
                <button type="button" id="d" class="btn btn-outline-primary clickable">d</button>
                <button type="button" id="e" class="btn btn-outline-primary clickable">e</button>
                <button type="button" id="f" class="btn btn-outline-primary clickable">f</button>
                <button type="button" id="g" class="btn btn-outline-primary clickable">g</button>
                <button type="button" id="h" class="btn btn-outline-primary clickable">h</button>
                <button type="button" id="i" class="btn btn-outline-primary clickable">i</button>
                <button type="button" id="j" class="btn btn-outline-primary clickable">j</button>
                <button type="button" id="k" class="btn btn-outline-primary clickable">k</button>
                <button type="button" id="l" class="btn btn-outline-primary clickable">l</button>
                <button type="button" id="m" class="btn btn-outline-primary clickable">m</button>
                <button type="button" id="n" class="btn btn-outline-primary clickable">n</button>
                <button type="button" id="o" class="btn btn-outline-primary clickable">o</button>
                <button type="button" id="p" class="btn btn-outline-primary clickable">p</button>
                <button type="button" id="q" class="btn btn-outline-primary clickable">q</button>
                <button type="button" id="r" class="btn btn-outline-primary clickable">r</button>
                <button type="button" id="s" class="btn btn-outline-primary clickable">s</button>
                <button type="button" id="t" class="btn btn-outline-primary clickable">t</button>
                <button type="button" id="u" class="btn btn-outline-primary clickable">u</button>
                <button type="button" id="v" class="btn btn-outline-primary clickable">v</button>
                <button type="button" id="w" class="btn btn-outline-primary clickable">w</button>
                <button type="button" id="x" class="btn btn-outline-primary clickable">x</button>
                <button type="button" id="y" class="btn btn-outline-primary clickable">y</button>
                <button type="button" id="z" class="btn btn-outline-primary clickable">z</button>
            </div>
  </div>
</body>
</html>
